.textarea {
  width: 100%;
  min-height: 350px;
  height: auto;
  background-color: $inputClr;
  border: 1px solid $borderClr;
  color: $white;
  padding: $padding $padding 40px;
  font-size: 22px;
  resize: none;
  transition: .1s ease-out;
  overflow: hidden;
  outline: none;
}
.textarea-block {
  position: relative;
  width: 100%;
  height: auto;

  &__length {
    position: absolute;
    right: $padding;
    bottom: $padding;
    color: $white;
    font-size: 14px;
    z-index: 1;
  }
}
