.textarea {
  width: 100%;
  min-height: 350px;
  color: $white;
  height: auto;
  background-color: $inputClr;
  border: 1px solid $borderClr;
  padding: $base-padding $base-padding 40px;
  font-size: 22px;
  resize: none;
  transition: .1s ease-out;
  overflow: hidden;
  outline: none;

  &::placeholder {
    color: $borderClr;
    opacity: 0.5;
  }

  &--error {
    color: $red;
  }

  &--loading,
  &--loading::placeholder {
    color: transparent;
  }
}
.textarea-block {
  position: relative;
  width: 100%;
  height: auto;

  &__length {
    position: absolute;
    right: $base-padding;
    bottom: $base-padding;
    color: $white;
    font-size: 14px;
    z-index: 1;
  }
}
