.home,
.home__content {
  display: flex;
  justify-content: center;
}

.home {
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: $bg;
  padding: 200px $base-padding;

  &__content {
    width: 100%;
    gap: 10px;
    max-width: 1542px;
  }

  &__select-block {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    width: 100%;
    max-width: 1542px;
    margin-bottom: $base-padding;
  }

  &__subtitle {
    color: $white;
    font-size: 20px;
    margin-right: 10px;
  }

  &__option {
    margin-left: 16px;
  }

  .saved-translations {
    width: max-content;
    margin-top: 20px;
  }
  .save-text {
    position: absolute;
    right: 10px;
    top: $base-padding;
  }
}

.slide {
  &-leave-active,
  &-enter-active {
    transition: 0.3s;
  }
  &-enter,
  &-leave-to {
    transform: translate(450px, 0);
  }
}

@media screen and (max-width: 800px) {
  .home {
    &__content {
      flex-wrap: wrap;
    }
  }
}
